 button,
        div,
        form,
        input {
            margin: 5px;
        }
#movie-form{
    float: right;
}
body{
    background-color: grey
}
.movie{
    background-color: #4aaaa5;
}
#add-movie{
    background-color: #4aaaa5;
}